/*CAMBIOS DE LA PAGINA EN GENERAL*/
html{
    size: 100%;

}
body{
    font-size: 24px;
    font-family: 'Century Gothic';
    background-image: linear-gradient(to top, #fcfcfc 0%,#858585 100%);
}
h1{
    margin-bottom: 2rem;
    font-size: 3.8rem;
}
/*CAMBIOS EN EL HEADER*/
header span{
    font-size: 2rem;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img{
    max-width: 100%;
}
body{
    font-family: 'Century Gothic';
}
header{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

/*CAMBIOS EN LA BARRA DE NAVEGACION*/
.navegacion{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    margin: none;   
}
nav a{
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    font-size: 2rem;
    min-width: 15rem;
    text-align: left;
}
nav a:hover{
    color: black;
    background-color: #ffffff;
}
.boton{
    text-decoration: none;
    color: #ffffff;
    background-color: black;
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.boton:hover{
    color: black;
    background-color: #ffffff;
    cursor: pointer;
}

/*CAMBIO EN MENU DESPLEGABLE*/
.navegacion ul{
    list-style: none;
}
.menu > li{
    position: absolute;
    display: inline-block;
}
.menu > li > a{
    display: block;
}

.menu li a:hover{
    transition: all .3s;
}
.submenu{
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    
}

.submenu li a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: black; 
}
.submenu li a:hover{
    color: black;
    background-color: #ffffff; 
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*CAMBIOS EN LOS VIDEOS*/
video{
    width: 100%;
}
.absolute{
    width: 100%;
    height: 100%;
    top:0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*CAMBIOS DEL FOOTER*/
footer{
    background: black;
    color: white;
}
/*BOTONES FLOTANTES*/
#btn-mas{
    display: none;
   }
.navegacion-flotante{
    position: fixed;
    bottom: 20px;
    right: 50px;
   }
.navegacion-flotante .redes a, .btn-mas .icon {
    display: block;
    text-decoration: none;
    background: black;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
   }
.redes a:hover{
    background: #fff;
    color: black;
   }
.btn-mas .icon{
    margin: 15px;
    cursor: pointer;
    background: black;
    font-size: 20px;
   }
.redes a{
    margin: 5px;
    opacity: 0;
    visibility: hidden;
   }
#btn-mas:checked ~ .redes a{ margin-bottom: 5px;
    opacity: 1;
    visibility: visible;
   } 
#btn-mas:checked ~ .btn-mas .icon{
    transform: rotate(137deg);
    font-size: 25px;
}
.container{
    margin: 2rem 25rem;
}
.negritas{
    font-weight: 700;
}
.fnt-size-1-25r{
    font-size: 1.25rem;
}
.shadow{
    box-shadow: 0px 5px 15px 0px rgba(92,92,92,0.6);
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
}

.alinear-centro{
    text-align: center;
}
.carrusel{
    background-color: #FFFFFF;
    width: 50%;
    margin: 0 auto;
}
.img__{
    max-width: 70%;
    margin-left: 3.3rem;
}
ul{
    list-style: none;
}

/*BARRAS DE PROGRESO*/
.bg-black{
    background-color: black;
}
.margin-t-b{
    margin: 2rem;
}
.img-camara{
    margin: 2rem 2rem;
}
/*ANIMACION DE CAMARA*/
.animacion{
    animation-name: animar;
    animation-duration: 5s;
    animation-delay: 0;
    transition: 1s;
    
}

@keyframes animar{
    from{
        margin-left: 100%;
    }
    to{
        margin-left: 0%;
    }
}
/*FORMULARIO*/
.contacto{
    margin: 2rem auto;
}
.formulario {
    background-color:#ffffff;
    padding: 2rem;
    border: solid 2px #757575;
    border-radius: 10px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/*CAMPOS DEL FORMULARIO*/
.w-100{
    flex: 0 0 100%;
}
.campo textarea {
    height: 4rem;
}

.enviar {
    display: flex;
    justify-content: flex-end;
}
.contenedor-campos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.campo {
    margin-bottom: 1rem;
    width: 100%;
}
.campo label {
    color: var(--blanco);
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
}
.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="mail"],
.campo textarea {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
}
/*MEDIA PARA DISPOSITIVOS*/
@media (min-width:768px) {
    .formulario {
        max-width: 800px;
        margin: 0 auto;
    }
}

@media (min-width:480px) {
    .campo {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .campo{
        flex: 0 0 calc(50% - .5rem)
    }
}

@media (min-width:480px) {
    .campo label {
        flex: 0 0 90px;
    }
}

@media (min-width: 768px) {
    :is(.campo) :is( 
        input[type="text"], 
        input[type="text"],  
        input[type="tel"],  
        input[type="mail"] , 
        textarea ) {
        flex: 1;
    }
}

